.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #960018; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: left; white-space: pre; }

